<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{{ status_text }}</title>
  </head>
  <body>
	<style>
	body{
	background-color:black;
	color:red;	
	}
	#center{
		margin-right:30%;
		margin-left:30%;
		margin-top:300px;
	}
	</style>
<div id="center">
    <h1> Editions D'ORES ET DEJA </h1>
    <h2> "{{ status_code }} {{ status_text }}".</h2>
</div>
    
  </body>
</html>