/web/audio/
/web/bundles/
/web/collection/
/web/img/
/web/video/
/web/app.php
/web/app_dev.php
/app/config/*


/app/cache/*

/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
