{% extends '::admin.html.twig' %}

{% block contenu %}
 <h1><strong>FOOTER</strong></h1>
<div class="panel panel-success"> 
    <div class="panel-heading"> 
      <h3 class="panel-title">Liste des éléments</h3> 
   </div>

    <table class="table table-striped">
        <thead>
            <tr>
                
                <th>Contact</th>
                <th>Diffusion</th>
               
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                
                <td>{{ entity.contact }}</td>
                <td>{{ entity.diffusion }}</td>
                
                <td>
                <ul>
                    
                    <li>
                        <a href="{{ path('footer_edit', { 'id': entity.id }) }}"><span class="label label-info">edit</span></a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<table>
        <tr>
            <td><a href="{{ path('admin_homepage') }}" role="button" class="btn btn-primary">ACCUEIL ADMIN</a></td>
            
        </tr>
    </table>
</div> 

    
   
    
    {% endblock %}
